.header {
    background-color: rgb(33, 50, 90);
    color: white;
    height: 200px;
    padding-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}

.top-spaced {
    margin-top: 50px;
}

.card {
    border: none;
}

.card-header {
    border: 1px solid #ced4da;
}

#form-buttons {
    display: flex;
    height: 4rem;
}

#submit, #reset, .card-header strong {
    font-weight: bold;
    border: 0;
    width: 7rem;
    background-color: transparent;
    background-image: url("./images/search.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 1rem;
    text-align: left;
    padding-left: 2.25rem;
}

#reset {
    background-image: url("./images/trash-fill.svg");
    padding-left: 2.15rem;
    width: 10rem;
}

.card-header strong {
    background-image: url("./images/table.svg");
    padding-left: 2.25rem;
    width: 10rem;
}

.card:first-child .card-header strong {
    background-image: url("./images/card-list.svg");
    background-size: 1.15rem;
    padding-left: 2.5rem;
    width: 10rem;
}
